{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "api.atlassian.com/ex/jira",
  "basePath": "/{cloudid}/rest/api/3",
  "info": {
    "contact": {
      "email": "ecosystem@atlassian.com"
    },
    "description": "Jira Cloud platform REST API documentation",
    "title": "The Jira Cloud platform REST API",
    "version": "1001.0.0-SNAPSHOT",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://atlassian.com/terms/"
  },
  "x-atlassian-narrative": {
    "documents": [
      {
        "anchor": "about",
        "body": "The Jira REST API enables you to interact with Jira programmatically. Use this API to \n[build apps](https://developer.atlassian.com/cloud/jira/platform/integrating-with-jira-cloud/), script interactions with \nJira, or develop any other type of integration. This page documents the REST resources available in Jira Cloud, including \nthe HTTP response codes and example requests and responses.",
        "title": "About"
      },
      {
        "anchor": "version",
        "body": "This documentation is for **version 3** of the Jira Cloud platform REST API, which is the latest version. \n\nThe URIs for resources have the following structure:\n\n`https://<site-url>/rest/api/3/<resource-name>`\n\nFor example,\n`https://your-domain.atlassian.net/rest/api/3/issue/DEMO-1`\n\n**Note that version 3 of the Jira Cloud platform REST API is in beta**. All the endpoints from the \n[version 2](https://developer.atlassian.com/cloud/jira/platform/rest/v2/) API are available. However,\nthey are under development and may change. \n\nThe change from version 2 is the introduction of the \n[Atlassian Document Format](https://developer.atlassian.com/cloud/jira/platform/apis/document/structure/) \nto: \n- `body` in comments, including where comments are used in issue, issue link, and transition resources.\n- `comment` in worklogs.\n- `description` and `environment` fields in issues.\n- `textarea` type custom fields (multi-line text fields) in issues. Single line custom fields \n  (`textfield`) accept a string and don't handle Atlassian Document Format content.",
        "title": "Version and URI"
      },
      {
        "anchor": "authentication",
        "body": "### Connect apps\n\nFor Connect apps, authentication (JWT-based) is built into the Connect libraries. Authorization is implemented using either \nscopes (shown as _App scope required_ for operations on this page) or user impersonation. See \n[Security for Connect apps](https://developer.atlassian.com/cloud/jira/platform/security-for-connect-apps/) \nfor details.\n\n### Other integrations\n\nFor integrations that are not Connect apps, use OAuth 2.0 authorization code grants (3LO) for security \n(3LO scopes are shown as _OAuth scopes required_ for operations on this page). Basic authentication is also available, \nbut you should only use it for tools such as personal scripts or bots. See \n[Security for other integrations](https://developer.atlassian.com/cloud/jira/platform/security-for-other-integrations/) \nfor details.",
        "title": "Authentication and authorization"
      },
      {
        "anchor": "permissions",
        "body": "### Operation permissions\n\nMost operations in this API require permissions. The calling user must have the required permissions for an operation to \nuse it. Note that for Connect apps, the app user must have the required permissions for the operation and the app must \nhave scopes that permit the operation.\n\nA permission can be granted to a group, project role, or issue role that the user is a member of, or granted directly to a user. \nSee [Permissions overview](https://confluence.atlassian.com/x/FQiiLQ) for details. The most common permissions are:\n\n- **Administer the Cloud site**: Users in the _site-admins_ group have this \npermission. See [Manage groups](https://confluence.atlassian.com/x/24xjL) for details.\n- **Administer Jira**: Granted by the _Jira Administrators_ global permission. Users in the _administrators_ group have this \npermission. See [Manage groups](https://confluence.atlassian.com/x/24xjL) and \n[Managing global permissions](https://confluence.atlassian.com/x/x4dKLg) for details.\n- **Administer a project in Jira**: Granted by the _Administer projects_ project permission for a project. This can be \ngranted to a user, a group, a project role, and more. \nSee [Managing project permissions](https://confluence.atlassian.com/x/yodKLg) for details.\n- **Access a project in Jira**: Granted by the _Browse projects_ project permission for a project. This can be \ngranted to a user, a group, a project role, and more. \nSee [Managing project permissions](https://confluence.atlassian.com/x/yodKLg) for details.\n- **Access Jira**: Granted by the _Jira Users_ global permission. Users in the _\\[product]-users_ (for example, \n_jira-software-users_) group have this permission. \nSee [Manage groups](https://confluence.atlassian.com/x/24xjL) and \n[Managing global permissions](https://confluence.atlassian.com/x/x4dKLg) for details.\n\n### Anonymous access\n\nSome operations provide support for anonymous access. However, anonymous access is only available if \nthe Jira permission needed to access the object or records returned by the operation is granted to \nthe _Public_ group. See [Allowing anonymous access to your project](https://confluence.atlassian.com/x/GDxxLg) \nfor details.\n\nIf an operation is called anonymously and anonymous access is not available, the operation will return \nan error. Note that not all operations that correspond to objects that can be given public access \nprovide for anonymous access.",
        "title": "Permissions"
      },
      {
        "anchor": "expansion",
        "body": "### Expansion\n\nThe Jira REST API uses resource expansion, which means that some parts of a resource are not returned unless specified \nin the request. This simplifies responses and minimizes network traffic.\n\nTo expand part of a resource in a request, use the expand query parameter and specify the object(s) to be expanded. \nIf you need to expand nested objects, use the `.` dot notation. If you need to expand multiple objects, use a \ncomma-separated list. \n\nFor example, the following request expands the `names` and `renderedFields` properties for the _JRACLOUD-34423_ issue:\n\n`GET issue/JRACLOUD-34423?expand=names,renderedFields`\n\nTo discover which object can be expanded, refer to the `expand` property in the object. \nIn the JSON example below, the resource declares `widgets` as expandable.\n\n```json\n{\n  \"expand\": \"widgets\", \n  \"self\": \"https://your-domain.atlassian.net/rest/api/3/resource/KEY-1\", \n  \"widgets\": {\n    \"widgets\": [],\n    \"size\": 5\n   }\n}\n```\n\n### Pagination\n\nThe Jira REST API uses pagination to improve performance. Pagination is enforced for operations that could return a large \ncollection of items. When you make a request to a paginated resource, the response wraps the returned array of values in \na JSON object with paging metadata. For example:\n\n```json\n{\n    \"startAt\" : 0,\n    \"maxResults\" : 10,\n    \"total\": 200,\n    \"isLast\": false,\n    \"values\": [\n        { /* result 0 */ },\n        { /* result 1 */ },\n        { /* result 2 */ }\n    ]\n}\n```\n\n*   `startAt` is the index of the first item returned in the page.\n*   `maxResults` is the maximum number of items that a page can return. Each operation can have a different limit for\n    the number of items returned, and these limits may change without notice. To find the maximum number of items \n    that an operation could return, set `maxResults` to a large number—for example, over 1000—and if the returned value of `maxResults` is less than the requested value, the returned value is the maximum.\n*    `total` is the total number of items contained in all pages. This number **_may change_** as the client \nrequests the subsequent pages, therefore the client should always assume that the requested page can be empty. Note \nthat this property is not returned for all operations.\n*   `isLast` indicates whether the page returned is the last one. Note that this property is not returned for all operations.\n\n### Ordering\n\nSome operations support ordering the elements of a response by a field. Check the documentation for the operation to \nconfirm whether ordering of a response is supported and which fields can be used. Responses are listed in ascending order \nby default. You can change the order using the `orderby` query parameter with a `-` or `+` symbol. For example:\n\n*   `?orderBy=name` to order by `name` field ascending.\n*   `?orderBy=+name` to order by `name` field ascending.\n*   `?orderBy=-name` to order by `name` field descending.\n\n\n",
        "title": "Expansion, pagination, and ordering"
      },
      {
        "anchor": "special-request-headers",
        "body": "The following request and response headers define important metadata for the Jira Cloud REST API resources.\n\n-   `X-Atlassian-Token` (request): Operations that accept multipart/form-data must include the `X-Atlassian-Token: no-check`\nheader in requests. Otherwise the request will be blocked by cross-site request forgery (CSRF/XSRF) protection.\n-   `X-Force-Accept-Language` (request): controls how the standard HTTP `Accept-Language` header is processed.\nBy default `Accept-Language` is ignored and the response is in the language configured in the user's profile or,\nwhen no language is configured for the user, the default Jira instance language. For the response to recognize\n`Accept-Language` send `X-Force-Accept-Language = true` as well. If `Accept-Language` requests a language that Jira\ncan return the response is in that language, otherwise Jira returns the response in the default language. If\n`Accept-Language` is not specified the response is in the default language.\n-   `X-AccountId` (response): This response header contains the Atlassian account ID of the authenticated user.",
        "title": "Special headers"
      },
      {
        "anchor": "anonymous-operations",
        "body": " Jira provides for all permissions, except the [global permission](https://confluence.atlassian.com/x/x4dKLg) Administer Jira, to be assigned to *Anyone*. Once a permission is assigned to *Anyone*, anyone knowing a project's URL is able to use the features in Jira enabled by the permission. However, the Jira REST API does not enable anonymous access for operations by default. This means that an anonymous user who may be able to perform an action through Jira, may not be able to perform the same action where it's enabled by the REST API. \n\n The operations that provide anonymous access are annotated \"This operation can be accessed anonymously.\"",
        "title": "Anonymous operations"
      },
      {
        "anchor": "async-operations",
        "body": "Some Jira REST API operations may trigger long-running or computationally expensive tasks. In these cases, the operation \nwill schedule an asynchronous task and return a `303 (See Other)` response, indicating the location of the queued task \nin the `Location` header. You can query this task to get progress updates.\n\nWhen the task finishes, the response object will contain the `result` field. The content of the field is specific to the \noperation that created the task. Refer to the operation’s documentation for more information.\n\nNote that asynchronous tasks are not guaranteed to be run in order. In other words, if you need your tasks to execute \nin a certain order, you should start a task only after the prerequisite task(s) have finished.",
        "title": "Asynchronous operations"
      },
      {
        "anchor": "experimental",
        "body": "Features and methods marked as experimental may change without notice. Feedback on experimental functionality is welcome. \nReport your suggestions and bugs in the [ACJIRA project](https://ecosystem.atlassian.net/projects/ACJIRA) (preferred) or use the \n**Give docs feedback** link at the top of this page. \n",
        "title": "Experimental features"
      },
      {
        "anchor": "status-codes",
        "body": "The Jira Cloud platform REST API uses the [standard HTTP status codes](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).\n\nOperations that return an error status code may also return a response body containing details of the error or errors. \nThe schema for the response body is shown below:\n\n\n```json\n{\n  \"id\": \"https://docs.atlassian.com/jira/REST/schema/error-collection#\",\n  \"title\": \"Error Collection\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"errorMessages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"errors\": {\n      \"type\": \"object\",\n      \"patternProperties\": {\n        \".+\": {\n          \"type\": \"string\"\n        }\n      },\n      \"additionalProperties\": false\n    },\n    \"status\": { \n      \"type\": \"integer\"\n    }\n  },\n  \"additionalProperties\": false\n}\n```",
        "title": "Status codes"
      }
    ]
  },
  "x-components": {},
  "securityDefinitions": {
    "OAuth2": {
      "authorizationUrl": "https://auth.atlassian.com/authorize",
      "description": "OAuth2 scopes for Jira",
      "flow": "accessCode",
      "scopes": {
        "manage:jira-configuration": "Configure Jira settings that require the Jira administrators permission, for example, create projects and custom fields, view workflows, manage issue link types.",
        "manage:jira-project": "Create and edit project settings and create new project-level objects, for example, versions, components.",
        "read:jira-user": "View user information in Jira that you have access to, including usernames, email addresses, and avatars.",
        "read:jira-work": "Read project and issue data. Search for issues and objects associated with issues (such as attachments and worklogs).",
        "write:jira-work": "Create and edit issues in Jira, post comments, create worklogs, and delete issues."
      },
      "tokenUrl": "https://auth.atlassian.com/oauth/token",
      "type": "oauth2"
    },
    "basicAuth": {
      "description": "You can access this resource via basic auth.",
      "type": "basic"
    }
  },
  "parameters": {
    "cloudid": {
      "in": "path",
      "name": "cloudid",
      "required": true,
      "schema": {
        "type": "string"
      },
      "description": "Cloudi of the project"
    }
  },
  "paths": {
    "/application-properties": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The key of the application property.",
            "in": "query",
            "name": "key",
            "type": "string"
          },
          {
            "description": "The permission level of all items being returned in the list.",
            "in": "query",
            "name": "permissionLevel",
            "type": "string"
          },
          {
            "description": "When a `key` isn't provided, this filters the list of results by the application property `key` using a regular expression. For example, using `jira.lf.*` will return all application properties with keys that start with *jira.lf.*.",
            "in": "query",
            "name": "keyFilter",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "[{\"id\":\"jira.home\",\"key\":\"jira.home\",\"value\":\"/var/jira/jira-home\",\"name\":\"jira.home\",\"desc\":\"Jira home directory\",\"type\":\"string\",\"defaultValue\":\"\"},{\"id\":\"jira.clone.prefix\",\"key\":\"jira.clone.prefix\",\"value\":\"CLONE -\",\"name\":\"The prefix added to the Summary field of cloned issues\",\"type\":\"string\",\"defaultValue\":\"CLONE -\"}]"
            },
            "schema": {
              "items": {
                "$ref": "#/definitions/ApplicationProperty"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if the application property is not found or the user does not have permission to view it."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Jira settings"
        ],
        "deprecated": false,
        "summary": "Get application property",
        "x-atlassian-connect-scope": "INACCESSIBLE"
      }
    },
    "/application-properties/advanced-settings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "[{\"id\":\"jira.home\",\"key\":\"jira.home\",\"value\":\"/var/jira/jira-home\",\"name\":\"jira.home\",\"desc\":\"Jira home directory\",\"type\":\"string\",\"defaultValue\":\"\"},{\"id\":\"jira.clone.prefix\",\"key\":\"jira.clone.prefix\",\"value\":\"CLONE -\",\"name\":\"The prefix added to the Summary field of cloned issues\",\"type\":\"string\",\"defaultValue\":\"CLONE -\"}]"
            },
            "schema": {
              "items": {
                "$ref": "#/definitions/ApplicationProperty"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user is not an administrator."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Jira settings"
        ],
        "deprecated": false,
        "summary": "Get advanced settings",
        "x-atlassian-connect-scope": "INACCESSIBLE"
      }
    },
    "/application-properties/{id}": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The key of the application property to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SimpleApplicationPropertyBean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "schema": {
              "$ref": "#/definitions/ApplicationProperty"
            }
          },
          "400": {
            "description": "Returned if the data type of the `value` does not match the application property's data type. For example, a string is provided instead of an integer."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have permission to edit the property."
          },
          "404": {
            "description": "Returned if the property is not found or the user does not have permission to view it."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Jira settings"
        ],
        "deprecated": false,
        "summary": "Set application property",
        "x-atlassian-connect-scope": "INACCESSIBLE"
      }
    },
    "/applicationrole": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "[{\"key\":\"jira-software\",\"groups\":[\"jira-software-users\",\"jira-testers\"],\"name\":\"Jira Software\",\"defaultGroups\":[\"jira-software-users\"],\"selectedByDefault\":false,\"defined\":false,\"numberOfSeats\":10,\"remainingSeats\":5,\"userCount\":5,\"userCountDescription\":\"5 developers\",\"hasUnlimitedSeats\":false,\"platform\":false},{\"key\":\"jira-core\",\"groups\":[\"jira-core-users\"],\"name\":\"Jira Core\",\"defaultGroups\":[\"jira-core-users\"],\"selectedByDefault\":false,\"defined\":false,\"numberOfSeats\":1,\"remainingSeats\":1,\"userCount\":0,\"userCountDescription\":\"0 users\",\"hasUnlimitedSeats\":false,\"platform\":true}]"
            },
            "schema": {
              "items": {
                "$ref": "#/definitions/ApplicationRole"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user is not an administrator."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Application roles"
        ],
        "deprecated": false,
        "summary": "Get all application roles",
        "x-atlassian-connect-scope": "INACCESSIBLE"
      }
    },
    "/applicationrole/{key}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The key of the application role. Use the [Get all application roles](#api-rest-api-3-applicationrole-get) operation to get the key for each application role.",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string",
            "x-showInExample": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"key\":\"jira-software\",\"groups\":[\"jira-software-users\",\"jira-testers\"],\"name\":\"Jira Software\",\"defaultGroups\":[\"jira-software-users\"],\"selectedByDefault\":false,\"defined\":false,\"numberOfSeats\":10,\"remainingSeats\":5,\"userCount\":5,\"userCountDescription\":\"5 developers\",\"hasUnlimitedSeats\":false,\"platform\":false}"
            },
            "schema": {
              "$ref": "#/definitions/ApplicationRole"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user is not an administrator."
          },
          "404": {
            "description": "Returned if the role is not found."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Application roles"
        ],
        "deprecated": false,
        "summary": "Get application role",
        "x-atlassian-connect-scope": "INACCESSIBLE"
      }
    },
    "/attachment/meta": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"enabled\":true,\"uploadLimit\":1000000}"
            },
            "schema": {
              "$ref": "#/definitions/AttachmentSettings"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "tags": [
          "Issue attachments"
        ],
        "deprecated": false,
        "summary": "Get Jira attachment settings",
        "x-atlassian-connect-scope": "READ"
      }
    },
    "/attachment/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the attachment.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Returned if the request is successful."
          },
          "403": {
            "description": "Returned if the user does not have the necessary permission."
          },
          "404": {
            "description": "Returned if:\n\n *  the attachment is not found.\n *  attachments are disabled in the Jira settings."
          }
        },
        "security": [
          {
            "OAuth2": [
              "write:jira-work"
            ]
          }
        ],
        "tags": [
          "Issue attachments"
        ],
        "deprecated": false,
        "summary": "Delete attachment",
        "x-atlassian-connect-scope": "DELETE"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the attachment.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"id\":10000,\"self\":\"https://your-domain.atlassian.net/rest/api/3/attachments/10000\",\"filename\":\"picture.jpg\",\"author\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"key\":\"\",\"accountId\":\"5b10a2844c20165700ede21g\",\"name\":\"\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"created\":\"2020-06-15T03:55:41.964+0000\",\"size\":23123,\"mimeType\":\"image/jpeg\",\"content\":\"https://your-domain.atlassian.net/jira/secure/attachments/10000/picture.jpg\",\"thumbnail\":\"https://your-domain.atlassian.net/jira/secure/thumbnail/10000/picture.jpg\"}"
            },
            "schema": {
              "$ref": "#/definitions/AttachmentMetadata"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the necessary permission."
          },
          "404": {
            "description": "Returned if:\n\n *  the attachment is not found.\n *  attachments are disabled in the Jira settings."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Issue attachments"
        ],
        "deprecated": false,
        "summary": "Get attachment metadata",
        "x-atlassian-connect-scope": "READ"
      }
    },
    "/attachment/{id}/expand/human": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the attachment.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful. If an empty list is returned in the response, the attachment is empty, corrupt, or not an archive.",
            "examples": {
              "application/json": "{\"id\":7237823,\"name\":\"images.zip\",\"entries\":[{\"path\":\"MG00N067.JPG\",\"index\":0,\"size\":\"119 kB\",\"mediaType\":\"image/jpeg\",\"label\":\"MG00N067.JPG\"},{\"path\":\"Allegro from Duet in C Major.mp3\",\"index\":1,\"size\":\"1.36 MB\",\"mediaType\":\"audio/mpeg\",\"label\":\"Allegro from Duet in C Major.mp3\"},{\"path\":\"long/path/thanks/to/lots/of/subdirectories/inside/making/it/quite/hard/to/reach/the/leaf.txt\",\"index\":2,\"size\":\"0.0 k\",\"mediaType\":\"text/plain\",\"label\":\"long/path/thanks/to/.../reach/the/leaf.txt\"}],\"totalEntryCount\":39,\"mediaType\":\"application/zip\"}"
            },
            "schema": {
              "$ref": "#/definitions/AttachmentArchiveMetadataReadable"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "The user does not have the necessary permission."
          },
          "404": {
            "description": "Returned if:\n\n *  the attachment is not found.\n *  attachments are disabled in the Jira settings."
          },
          "409": {
            "description": "Returned if the attachment is an archive, but not a supported archive format."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Issue attachments"
        ],
        "deprecated": false,
        "summary": "Get all metadata for an expanded attachment",
        "x-atlassian-connect-scope": "READ",
        "x-experimental": true
      }
    },
    "/attachment/{id}/expand/raw": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the attachment.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful. If an empty list is returned in the response, the attachment is empty, corrupt, or not an archive.",
            "examples": {
              "application/json": "{\"entries\":[{\"entryIndex\":0,\"name\":\"Allegro from Duet in C Major.mp3\",\"size\":1430174,\"mediaType\":\"audio/mpeg\"},{\"entryIndex\":1,\"name\":\"lrm.rtf\",\"size\":331,\"mediaType\":\"text/rtf\"}],\"totalEntryCount\":24}"
            },
            "schema": {
              "$ref": "#/definitions/AttachmentArchiveImpl"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "The user does not have the necessary permission."
          },
          "404": {
            "description": "Returned if:\n\n *  the attachment is not found.\n *  attachments are disabled in the Jira settings."
          },
          "409": {
            "description": "Returned if the attachment is an archive, but not a supported archive format."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Issue attachments"
        ],
        "deprecated": false,
        "summary": "Get contents metadata for an expanded attachment",
        "x-atlassian-connect-scope": "READ",
        "x-experimental": true
      }
    },
    "/auditing/record": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "default": 0,
            "description": "The number of records to skip before returning the first result.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "type": "integer"
          },
          {
            "default": 1000,
            "description": "The maximum number of results to return.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "The query string.",
            "in": "query",
            "name": "filter",
            "type": "string"
          },
          {
            "description": "The date and time on or after which returned audit records must have been created. If `to` is provided `from` must be before `to` or no audit records are returned.",
            "format": "date-time",
            "in": "query",
            "name": "from",
            "type": "string"
          },
          {
            "description": "The date and time on or before which returned audit results must have been created. If `from` is provided `to` must be after `from` or no audit records are returned.",
            "format": "date-time",
            "in": "query",
            "name": "to",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"offset\":0,\"limit\":1000,\"total\":1,\"records\":[{\"id\":1,\"summary\":\"User created\",\"remoteAddress\":\"192.168.1.1\",\"authorKey\":\"administrator\",\"authorAccountId\":\"5ab8f18d741e9c2c7e9d4538\",\"created\":\"2014-03-19T18:45:42.967+0000\",\"category\":\"user management\",\"eventSource\":\"Jira Connect Plugin\",\"description\":\"Optional description\",\"objectItem\":{\"id\":\"user\",\"name\":\"user\",\"typeName\":\"USER\",\"parentId\":\"1\",\"parentName\":\"Jira Internal Directory\"},\"changedValues\":[{\"fieldName\":\"email\",\"changedFrom\":\"user@atlassian.com\",\"changedTo\":\"newuser@atlassian.com\"}],\"associatedItems\":[{\"id\":\"jira-software-users\",\"name\":\"jira-software-users\",\"typeName\":\"GROUP\",\"parentId\":\"1\",\"parentName\":\"Jira Internal Directory\"}]}]}"
            },
            "schema": {
              "$ref": "#/definitions/AuditRecords"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if:\n\n *  the user does not have the required permissions.\n *  all Jira products are on free plans. Audit logs are available when at least one Jira product is on a paid plan."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Audit records"
        ],
        "deprecated": false,
        "summary": "Get audit records",
        "x-atlassian-connect-scope": "READ"
      }
    },
    "/avatar/{type}/system": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The avatar type.",
            "enum": [
              "issuetype",
              "project",
              "user"
            ],
            "in": "path",
            "name": "type",
            "required": true,
            "type": "string",
            "x-showInExample": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"system\":[{\"id\":\"1000\",\"isSystemAvatar\":true,\"isSelected\":false,\"isDeletable\":false,\"urls\":{\"16x16\":\"/secure/useravatar?size=xsmall&avatarId=10040&avatarType=project\",\"24x24\":\"/secure/useravatar?size=small&avatarId=10040&avatarType=project\",\"32x32\":\"/secure/useravatar?size=medium&avatarId=10040&avatarType=project\",\"48x48\":\"/secure/useravatar?avatarId=10040&avatarType=project\"}}]}"
            },
            "schema": {
              "$ref": "#/definitions/SystemAvatars"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "500": {
            "description": "Returned if an error occurs while retrieving the list of avatars."
          }
        },
        "security": [
          {}
        ],
        "tags": [
          "Avatars"
        ],
        "deprecated": false,
        "summary": "Get system avatars by type",
        "x-atlassian-connect-scope": "INACCESSIBLE"
      }
    },
    "/comment/list": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "Use [expand](#expansion) to include additional information about comments in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `renderedBody` Returns the comment body rendered in HTML.\n *  `properties` Returns the comment's properties.",
            "in": "query",
            "name": "expand",
            "type": "string"
          },
          {
            "description": "The list of comment IDs.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueCommentListRequestBean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"maxResults\":1048576,\"startAt\":0,\"total\":1,\"isLast\":true,\"values\":[{\"self\":\"https://your-domain.atlassian.net/rest/api/3/issue/10010/comment/10000\",\"id\":\"10000\",\"author\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"accountId\":\"5b10a2844c20165700ede21g\",\"displayName\":\"Mia Krystof\",\"active\":false},\"body\":{\"type\":\"doc\",\"version\":1,\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget venenatis elit. Duis eu justo eget augue iaculis fermentum. Sed semper quam laoreet nisi egestas at posuere augue semper.\"}]}]},\"updateAuthor\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"accountId\":\"5b10a2844c20165700ede21g\",\"displayName\":\"Mia Krystof\",\"active\":false},\"created\":\"2020-06-15T03:55:41.968+0000\",\"updated\":\"2020-06-15T03:55:41.968+0000\",\"visibility\":{\"type\":\"role\",\"value\":\"Administrators\"}}]}"
            },
            "schema": {
              "$ref": "#/definitions/PageBeanComment"
            }
          },
          "400": {
            "description": "Returned if the request contains more than 1000 IDs or is empty."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Issue comments"
        ],
        "deprecated": false,
        "summary": "Get comments by IDs",
        "x-atlassian-connect-scope": "INACCESSIBLE"
      }
    },
    "/comment/{commentId}/properties": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the comment.",
            "in": "path",
            "name": "commentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"keys\":[{\"self\":\"https://your-domain.atlassian.net/rest/api/3/issue/EX-2/properties/issue.support\",\"key\":\"issue.support\"}]}"
            },
            "schema": {
              "$ref": "#/definitions/PropertyKeys"
            }
          },
          "400": {
            "description": "Returned if the comment ID is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the necessary permission."
          },
          "404": {
            "description": "Returned if the comment is not found."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Issue comment properties"
        ],
        "deprecated": false,
        "summary": "Get comment property keys",
        "x-atlassian-connect-scope": "READ"
      }
    },
    "/comment/{commentId}/properties/{propertyKey}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the comment.",
            "in": "path",
            "name": "commentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The key of the property.",
            "in": "path",
            "name": "propertyKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Returned if the request is successful."
          },
          "400": {
            "description": "Returned if the request is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the necessary permission."
          },
          "404": {
            "description": "Returned if the comment or the property is not found or the user has the necessary project permissions but isn't a member of the role or group visibility of the comment is restricted to."
          }
        },
        "security": [
          {
            "OAuth2": [
              "write:jira-work"
            ]
          }
        ],
        "tags": [
          "Issue comment properties"
        ],
        "deprecated": false,
        "summary": "Delete comment property",
        "x-atlassian-connect-scope": "DELETE"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the comment.",
            "in": "path",
            "name": "commentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The key of the property.",
            "in": "path",
            "name": "propertyKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"key\":\"issue.support\",\"value\":{\"system.conversation.id\":\"b1bf38be-5e94-4b40-a3b8-9278735ee1e6\",\"system.support.time\":\"1m\"}}"
            },
            "schema": {
              "$ref": "#/definitions/EntityProperty"
            }
          },
          "400": {
            "description": "Returned if the request is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the necessary permission."
          },
          "404": {
            "description": "Returned if the comment or the property is not found."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Issue comment properties"
        ],
        "deprecated": false,
        "summary": "Get comment property",
        "x-atlassian-connect-scope": "READ"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the comment.",
            "in": "path",
            "name": "commentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The key of the property. The maximum length is 255 characters.",
            "in": "path",
            "name": "propertyKey",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the comment property is updated.",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Returned if the comment property is created.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Returned if the request is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the necessary permission."
          },
          "404": {
            "description": "Returned if the comment is not found."
          }
        },
        "security": [
          {
            "OAuth2": [
              "write:jira-work"
            ]
          }
        ],
        "tags": [
          "Issue comment properties"
        ],
        "deprecated": false,
        "summary": "Set comment property",
        "x-atlassian-connect-scope": "WRITE"
      }
    },
    "/component": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Component"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"self\":\"https://your-domain.atlassian.net/rest/api/3/component/10000\",\"id\":\"10000\",\"name\":\"Component 1\",\"description\":\"This is a Jira component\",\"lead\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"key\":\"\",\"accountId\":\"5b10a2844c20165700ede21g\",\"name\":\"\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"assigneeType\":\"PROJECT_LEAD\",\"assignee\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"key\":\"\",\"accountId\":\"5b10a2844c20165700ede21g\",\"name\":\"\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"realAssigneeType\":\"PROJECT_LEAD\",\"realAssignee\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"key\":\"\",\"accountId\":\"5b10a2844c20165700ede21g\",\"name\":\"\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"isAssigneeTypeValid\":false,\"project\":\"HSP\",\"projectId\":10000}"
            },
            "schema": {
              "$ref": "#/definitions/Component"
            }
          },
          "400": {
            "description": "Returned if:\n\n *  the user is not found.\n *  `name` is not provided.\n *  `name` is over 255 characters in length.\n *  `projectId` is not provided.\n *  `assigneeType` is an invalid value."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have permission to manage the project containing the component or does not have permission to administer Jira."
          },
          "404": {
            "description": "Returned if the project is not found or the user does not have permission to browse the project containing the component."
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage:jira-project"
            ]
          },
          {}
        ],
        "tags": [
          "Project components"
        ],
        "deprecated": false,
        "summary": "Create component",
        "x-atlassian-connect-scope": "PROJECT_ADMIN"
      }
    },
    "/component/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the component.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the component to replace the deleted component. If this value is null no replacement is made.",
            "in": "query",
            "name": "moveIssuesTo",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Returned if the request is successful."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have permission to manage the project containing the component or does not have permission to administer Jira."
          },
          "404": {
            "description": "Returned if:\n\n *  the component is not found.\n *  the replacement component is not found.\n *  the user does not have permission to browse the project containing the component."
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage:jira-project"
            ]
          },
          {}
        ],
        "tags": [
          "Project components"
        ],
        "deprecated": false,
        "summary": "Delete component",
        "x-atlassian-connect-scope": "PROJECT_ADMIN"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the component.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"self\":\"https://your-domain.atlassian.net/rest/api/3/component/10000\",\"id\":\"10000\",\"name\":\"Component 1\",\"description\":\"This is a Jira component\",\"lead\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"key\":\"\",\"accountId\":\"5b10a2844c20165700ede21g\",\"name\":\"\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"assigneeType\":\"PROJECT_LEAD\",\"assignee\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"key\":\"\",\"accountId\":\"5b10a2844c20165700ede21g\",\"name\":\"\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"realAssigneeType\":\"PROJECT_LEAD\",\"realAssignee\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"key\":\"\",\"accountId\":\"5b10a2844c20165700ede21g\",\"name\":\"\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"isAssigneeTypeValid\":false,\"project\":\"HSP\",\"projectId\":10000}"
            },
            "schema": {
              "$ref": "#/definitions/Component"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if the component is not found or the user does not have permission to browse the project containing the component."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Project components"
        ],
        "deprecated": false,
        "summary": "Get component",
        "x-atlassian-connect-scope": "READ"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the component.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Component"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"self\":\"https://your-domain.atlassian.net/rest/api/3/component/10000\",\"id\":\"10000\",\"name\":\"Component 1\",\"description\":\"This is a Jira component\",\"lead\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"key\":\"\",\"accountId\":\"5b10a2844c20165700ede21g\",\"name\":\"\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"assigneeType\":\"PROJECT_LEAD\",\"assignee\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"key\":\"\",\"accountId\":\"5b10a2844c20165700ede21g\",\"name\":\"\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"realAssigneeType\":\"PROJECT_LEAD\",\"realAssignee\":{\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"key\":\"\",\"accountId\":\"5b10a2844c20165700ede21g\",\"name\":\"\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"isAssigneeTypeValid\":false,\"project\":\"HSP\",\"projectId\":10000}"
            },
            "schema": {
              "$ref": "#/definitions/Component"
            }
          },
          "400": {
            "description": "Returned if:\n\n *  the user is not found.\n *  `assigneeType` is an invalid value.\n *  `name` is over 255 characters in length."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have permission to manage the project containing the component or does not have permission to administer Jira."
          },
          "404": {
            "description": "Returned if the component is not found or the user does not have permission to browse the project containing the component."
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage:jira-project"
            ]
          },
          {}
        ],
        "tags": [
          "Project components"
        ],
        "deprecated": false,
        "summary": "Update component",
        "x-atlassian-connect-scope": "PROJECT_ADMIN"
      }
    },
    "/component/{id}/relatedIssueCounts": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the component.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"self\":\"https://your-domain.atlassian.net/rest/api/3/component/10000\",\"issueCount\":23}"
            },
            "schema": {
              "$ref": "#/definitions/ComponentIssuesCount"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if the component is not found."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Project components"
        ],
        "deprecated": false,
        "summary": "Get component issues count",
        "x-atlassian-connect-scope": "READ"
      }
    },
    "/configuration": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"votingEnabled\":true,\"watchingEnabled\":true,\"unassignedIssuesAllowed\":false,\"subTasksEnabled\":false,\"issueLinkingEnabled\":true,\"timeTrackingEnabled\":true,\"attachmentsEnabled\":true,\"timeTrackingConfiguration\":{\"workingHoursPerDay\":8.0,\"workingDaysPerWeek\":5.0,\"timeFormat\":\"pretty\",\"defaultUnit\":\"day\"}}"
            },
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          }
        },
        "security": [
          {}
        ],
        "tags": [
          "Jira settings"
        ],
        "deprecated": false,
        "summary": "Get global settings",
        "x-atlassian-connect-scope": "READ"
      }
    },
    "/configuration/timetracking": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful and time tracking is enabled.",
            "examples": {
              "application/json": "{\"key\":\"Jira\",\"name\":\"JIRA provided time tracking\",\"url\":\"/example/config/url\"}"
            },
            "schema": {
              "$ref": "#/definitions/TimeTrackingProvider"
            }
          },
          "204": {
            "description": "Returned if the request is successful but time tracking is disabled.",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the necessary permission."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Time tracking"
        ],
        "deprecated": false,
        "summary": "Get selected time tracking provider",
        "x-atlassian-connect-scope": "READ"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeTrackingProvider"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returned if the request is successful.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Returned if the time tracking provider is not found."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the necessary permission."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Time tracking"
        ],
        "deprecated": false,
        "summary": "Select time tracking provider",
        "x-atlassian-connect-scope": "ADMIN"
      }
    },
    "/configuration/timetracking/list": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "[{\"key\":\"Jira\",\"name\":\"JIRA provided time tracking\",\"url\":\"/example/config/url\"}]"
            },
            "schema": {
              "items": {
                "$ref": "#/definitions/TimeTrackingProvider"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the necessary permission."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Time tracking"
        ],
        "deprecated": false,
        "summary": "Get all time tracking providers",
        "x-atlassian-connect-scope": "READ"
      }
    },
    "/configuration/timetracking/options": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"workingHoursPerDay\":7.6,\"workingDaysPerWeek\":5.5,\"timeFormat\":\"pretty\",\"defaultUnit\":\"hour\"}"
            },
            "schema": {
              "$ref": "#/definitions/TimeTrackingConfiguration"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the necessary permission."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Time tracking"
        ],
        "deprecated": false,
        "summary": "Get time tracking settings",
        "x-atlassian-connect-scope": "READ"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeTrackingConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"workingHoursPerDay\":7.6,\"workingDaysPerWeek\":5.5,\"timeFormat\":\"pretty\",\"defaultUnit\":\"hour\"}"
            },
            "schema": {
              "$ref": "#/definitions/TimeTrackingConfiguration"
            }
          },
          "400": {
            "description": "Returned if the request object is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the necessary permission."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Time tracking"
        ],
        "deprecated": false,
        "summary": "Set time tracking settings",
        "x-atlassian-connect-scope": "ADMIN"
      }
    },
    "/customField/{fieldId}/option": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the custom field. Note: This is the numeric part of the of the field ID. For example, for a field with the ID *customfield\\_10075* use *10075*.",
            "format": "int64",
            "in": "path",
            "name": "fieldId",
            "required": true,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "The index of the first item to return in a page of results (page offset).",
            "format": "int64",
            "in": "query",
            "name": "startAt",
            "type": "integer"
          },
          {
            "default": 1000,
            "description": "The maximum number of items to return per page.",
            "format": "int32",
            "in": "query",
            "name": "maxResults",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"maxResults\":2,\"startAt\":0,\"total\":100,\"isLast\":false,\"values\":[{\"id\":10000,\"value\":\"Option value\",\"cascadingOptions\":[\"Child option\",\"Child option 2\"]},{\"id\":10001,\"value\":\"Other option value\",\"cascadingOptions\":[]}]}"
            },
            "schema": {
              "$ref": "#/definitions/PageBeanCustomFieldOptionDetails"
            }
          },
          "400": {
            "description": "Returned if the request is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if the field is not found."
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage:jira-configuration"
            ]
          }
        ],
        "tags": [
          "Issue custom field options"
        ],
        "deprecated": false,
        "summary": "Get options for field",
        "x-atlassian-connect-scope": "ADMIN"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the custom field. Note: This is the numeric part of the of the field ID. For example, for a field with the ID *customfield\\_10075* use *10075*.",
            "format": "int64",
            "in": "path",
            "name": "fieldId",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkCreateCustomFieldOptionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returned if the request is successful.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Returned if the request is invalid.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          },
          "404": {
            "description": "Returned if the field is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage:jira-configuration"
            ]
          }
        ],
        "tags": [
          "Issue custom field options"
        ],
        "deprecated": false,
        "summary": "Create custom field options",
        "x-atlassian-connect-scope": "ADMIN"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the custom field. Note: This is the numeric part of the of the field ID. For example, for a field with the ID *customfield\\_10075* use *10075*.",
            "format": "int64",
            "in": "path",
            "name": "fieldId",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCustomFieldOption"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returned if the request is successful.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Returned if the request is invalid.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          },
          "404": {
            "description": "Returned if the field is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage:jira-configuration"
            ]
          }
        ],
        "tags": [
          "Issue custom field options"
        ],
        "deprecated": false,
        "summary": "Update custom field options",
        "x-atlassian-connect-scope": "ADMIN",
        "x-experimental": true
      }
    },
    "/customFieldOption/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the custom field option.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"self\":\"https://your-domain.atlassian.net/rest/api/3/customFieldOption/10000\",\"value\":\"To Do\"}"
            },
            "schema": {
              "$ref": "#/definitions/CustomFieldOption"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if:\n\n *  the custom field option is not found.\n *  the user does not have permission to view the custom field."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Issue custom field options"
        ],
        "deprecated": false,
        "summary": "Get custom field option",
        "x-atlassian-connect-scope": "READ"
      }
    },
    "/dashboard": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The filter applied to the list of dashboards. Valid values are:\n\n *  `favourite` Returns dashboards the user has marked as favorite.\n *  `my` Returns dashboards owned by the user.",
            "enum": [
              "my",
              "favourite"
            ],
            "in": "query",
            "name": "filter",
            "type": "string"
          },
          {
            "default": 0,
            "description": "The index of the first item to return in a page of results (page offset).",
            "format": "int32",
            "in": "query",
            "name": "startAt",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "The maximum number of items to return per page.",
            "format": "int32",
            "in": "query",
            "name": "maxResults",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"startAt\":10,\"maxResults\":10,\"total\":143,\"prev\":\"https://your-domain.atlassian.net/rest/api/3/dashboard?startAt=0\",\"next\":\"https://your-domain.atlassian.net/rest/api/3/dashboard?startAt=10\",\"dashboards\":[{\"id\":\"10000\",\"isFavourite\":false,\"name\":\"System Dashboard\",\"popularity\":1,\"self\":\"https://your-domain.atlassian.net/rest/api/3/dashboard/10000\",\"sharePermissions\":[{\"type\":\"global\"}],\"view\":\"https://your-domain.atlassian.net/secure/Dashboard.jspa?selectPageId=10000\"},{\"id\":\"20000\",\"isFavourite\":true,\"name\":\"Build Engineering\",\"owner\":{\"key\":\"Mia\",\"self\":\"https://your-domain.atlassian.net/rest/api/3/user?accountId=5b10a2844c20165700ede21g\",\"name\":\"mia\",\"displayName\":\"Mia Krystof\",\"avatarUrls\":{\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\",\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\"}},\"popularity\":1,\"self\":\"https://your-domain.atlassian.net/rest/api/3/dashboard/20000\",\"sharePermissions\":[{\"id\":10105,\"type\":\"group\",\"group\":{\"name\":\"administrators\",\"self\":\"https://your-domain.atlassian.net/rest/api/3/group?groupname=administrators\"}}],\"view\":\"https://your-domain.atlassian.net/secure/Dashboard.jspa?selectPageId=20000\"}]}"
            },
            "schema": {
              "$ref": "#/definitions/PageOfDashboards"
            }
          },
          "400": {
            "description": "Returned if the request is invalid.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Dashboards"
        ],
        "deprecated": false,
        "summary": "Get all dashboards",
        "x-atlassian-connect-scope": "READ"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "Dashboard details.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DashboardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"id\":\"10000\",\"isFavourite\":false,\"name\":\"System Dashboard\",\"popularity\":1,\"self\":\"https://your-domain.atlassian.net/rest/api/3/dashboard/10000\",\"sharePermissions\":[{\"type\":\"global\"}],\"view\":\"https://your-domain.atlassian.net/secure/Dashboard.jspa?selectPageId=10000\"}"
            },
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "400": {
            "description": "Returned if the request is not valid.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "write:jira-work"
            ]
          }
        ],
        "tags": [
          "Dashboards"
        ],
        "deprecated": false,
        "summary": "Create dashboard",
        "x-atlassian-connect-scope": "WRITE",
        "x-experimental": true
      }
    },
    "/dashboard/search": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "String used to perform a case-insensitive partial match with `name`.",
            "in": "query",
            "name": "dashboardName",
            "type": "string"
          },
          {
            "description": "User account ID used to return dashboards with the matching `owner.accountId`. This parameter cannot be used with the `owner` parameter.",
            "in": "query",
            "maxLength": 128,
            "name": "accountId",
            "type": "string"
          },
          {
            "description": "This parameter is deprecated because of privacy changes. Use `accountId` instead. See the [migration guide](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/) for details. User name used to return dashboards with the matching `owner.name`. This parameter cannot be used with the `accountId` parameter.",
            "in": "query",
            "name": "owner",
            "type": "string"
          },
          {
            "description": "Group name used to returns dashboards that are shared with a group that matches `sharePermissions.group.name`.",
            "in": "query",
            "name": "groupname",
            "type": "string"
          },
          {
            "description": "Project ID used to returns dashboards that are shared with a project that matches `sharePermissions.project.id`.",
            "format": "int64",
            "in": "query",
            "name": "projectId",
            "type": "integer"
          },
          {
            "default": "name",
            "description": "[Order](#ordering) the results by a field:\n\n *  `description` Sorts by dashboard description. Note that this sort works independently of whether the expand to display the description field is in use.\n *  `favourite_count` Sorts by dashboard popularity.\n *  `id` Sorts by dashboard ID.\n *  `is_favourite` Sorts by whether the dashboard is marked as a favorite.\n *  `name` Sorts by dashboard name.\n *  `owner` Sorts by dashboard owner name.",
            "enum": [
              "description",
              "-description",
              "+description",
              "favorite_count",
              "-favorite_count",
              "+favorite_count",
              "id",
              "-id",
              "+id",
              "is_favorite",
              "-is_favorite",
              "+is_favorite",
              "name",
              "-name",
              "+name",
              "owner",
              "-owner",
              "+owner"
            ],
            "in": "query",
            "name": "orderBy",
            "type": "string"
          },
          {
            "default": 0,
            "description": "The index of the first item to return in a page of results (page offset).",
            "format": "int64",
            "in": "query",
            "name": "startAt",
            "type": "integer"
          },
          {
            "default": 50,
            "description": "The maximum number of items to return per page.",
            "format": "int32",
            "in": "query",
            "name": "maxResults",
            "type": "integer"
          },
          {
            "description": "Use [expand](#expansion) to include additional information about dashboard in the response. This parameter accepts a comma-separated list. Expand options include:\n\n *  `description` Returns the description of the dashboard.\n *  `owner` Returns the owner of the dashboard.\n *  `viewUrl` Returns the URL that is used to view the dashboard.\n *  `favourite` Returns `isFavourite`, an indicator of whether the user has set the dashboard as a favorite.\n *  `favouritedCount` Returns `popularity`, a count of how many users have set this dashboard as a favorite.\n *  `sharePermissions` Returns details of the share permissions defined for the dashboard.",
            "in": "query",
            "name": "expand",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"self\":\"https://your-domain.atlassian.net/rest/api/3/dashboard/search?expand=owner&maxResults=50&startAt=0\",\"maxResults\":100,\"startAt\":0,\"total\":2,\"isLast\":true,\"values\":[{\"description\":\"Testing program\",\"id\":\"1\",\"isFavourite\":true,\"name\":\"Testing\",\"owner\":{\"self\":\"https://your-domain.atlassian.net/user?accountId=5b10a2844c20165700ede21g\",\"displayName\":\"Mia\",\"active\":true,\"accountId\":\"5b10a2844c20165700ede21g\",\"avatarUrls\":{\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\",\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\"}},\"popularity\":1,\"self\":\"https://your-domain.atlassian.net/rest/api/3/dashboard/1\",\"sharePermissions\":[{\"type\":\"global\"}],\"view\":\"https://your-domain.atlassian.net/Dashboard.jspa?selectPageId=1\"},{\"description\":\"Quantum initiative\",\"id\":\"2\",\"isFavourite\":false,\"name\":\"Quantum \",\"owner\":{\"self\":\"https://your-domain.atlassian.net/user?accountId=5b10a2844c20165700ede21g\",\"displayName\":\"Mia\",\"active\":true,\"accountId\":\"5b10a2844c20165700ede21g\",\"avatarUrls\":{\"16x16\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=16&s=16\",\"24x24\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=24&s=24\",\"32x32\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=32&s=32\",\"48x48\":\"https://avatar-management--avatars.server-location.prod.public.atl-paas.net/initials/MK-5.png?size=48&s=48\"}},\"popularity\":0,\"self\":\"https://your-domain.atlassian.net/rest/api/3/dashboard/2\",\"sharePermissions\":[{\"type\":\"loggedin\"}],\"view\":\"https://your-domain.atlassian.net/Dashboard.jspa?selectPageId=2\"}]}"
            },
            "schema": {
              "$ref": "#/definitions/PageBeanDashboard"
            }
          },
          "400": {
            "description": "Returned if:\n\n *  `orderBy` is invalid.\n *  `expand` includes an invalid value.\n *  `accountId` and `owner` are provided.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          },
          "401": {
            "description": "401 response",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Dashboards"
        ],
        "deprecated": false,
        "summary": "Search for dashboards",
        "x-atlassian-connect-scope": "READ"
      }
    },
    "/dashboard/{dashboardId}/items/{itemId}/properties": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the dashboard.",
            "in": "path",
            "name": "dashboardId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the dashboard item.",
            "in": "path",
            "name": "itemId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"keys\":[{\"self\":\"https://your-domain.atlassian.net/rest/api/3/issue/EX-2/properties/issue.support\",\"key\":\"issue.support\"}]}"
            },
            "schema": {
              "$ref": "#/definitions/PropertyKeys"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if the dashboard or dashboard item is not found, or the dashboard is not owned by or shared with the user."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Dashboards"
        ],
        "deprecated": false,
        "summary": "Get dashboard item property keys",
        "x-atlassian-connect-scope": "READ"
      }
    },
    "/dashboard/{dashboardId}/items/{itemId}/properties/{propertyKey}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the dashboard.",
            "in": "path",
            "name": "dashboardId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the dashboard item.",
            "in": "path",
            "name": "itemId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The key of the dashboard item property.",
            "in": "path",
            "name": "propertyKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Returned if the dashboard item property is deleted."
          },
          "400": {
            "description": "Returned if the dashboard or dashboard item ID is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user is not the owner of the dashboard."
          },
          "404": {
            "description": "Returned if the dashboard item is not found or the dashboard is not shared with the user."
          }
        },
        "security": [
          {
            "OAuth2": [
              "write:jira-work"
            ]
          }
        ],
        "tags": [
          "Dashboards"
        ],
        "deprecated": false,
        "summary": "Delete dashboard item property",
        "x-atlassian-connect-scope": "DELETE"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the dashboard.",
            "in": "path",
            "name": "dashboardId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the dashboard item.",
            "in": "path",
            "name": "itemId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The key of the dashboard item property.",
            "in": "path",
            "name": "propertyKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"key\":\"issue.support\",\"value\":{\"system.conversation.id\":\"b1bf38be-5e94-4b40-a3b8-9278735ee1e6\",\"system.support.time\":\"1m\"}}"
            },
            "schema": {
              "$ref": "#/definitions/EntityProperty"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if the dashboard, the dashboard item, or dashboard item property is not found, or the dashboard is not owned by or shared with the user."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          },
          {}
        ],
        "tags": [
          "Dashboards"
        ],
        "deprecated": false,
        "summary": "Get dashboard item property",
        "x-atlassian-connect-scope": "READ"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cloudid"
          },
          {
            "description": "The ID of the dashboard.",
            "in": "path",
            "name": "dashboardId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the dashboard item.",
            "in": "path",
            "name": "itemId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The key of the dashboard item property. The maximum length is 255 characters.",
            "in": "path",
            "name": "propertyKey",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the dashboard item property is updated.",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Returned if the dashboard item property is created.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Returned if the request is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user is not the owner of the dashboard."
          },
          "404": {
            "description": "Returned if the dashboard item is not found or the dashboard is not shared with the user."
          }
        },
        "security": [
          {
            "OAuth2": [
              "write:jira-work"
            ]
          }
        ],
        "tags": [
          "Dashboards"
        ],
        "deprecated": false,
[...]
